
header{
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    z-index: 5;
    background-color: var(--white);
    width: 100%;
}
header + section {
    margin-top: 81px;
}

.logo_brand img {
    width:115px;
    height: 65px;
    object-fit: contain;
}
.nav-item{
    position: relative;
    transition: .4s;
}
.nav-item:hover .nav-link {
    position: relative;
    color: var(--main);
}
.navbar-nav.nav-lg {
    gap:40px;
}
.navbar-nav.nav-lg .dropdown-menu{
    display: flex;
    position: absolute;
    top:100%;
    left:50%;
    transition: .4s;
    opacity: 0;
    transform:translateX(-50%) translateY(20%);
    pointer-events: none;
    background-color:var(--main);
}
.navbar-nav .dropdown-menu .dropdown-item{
    color: var(--white);
    transition: .4s;
}
.navbar-nav.nav-lg .dropdown-menu .dropdown-item:hover{
    color: var(--main);
}
.navbar-nav.nav-lg .nav-item:hover .dropdown-menu{
    opacity: 1;
    transform:translateX(-50%) translateY(0);
    pointer-events: all;
}
.has_dropdown .nav-link::after{
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-top: 5px solid var(--navList);

}
.has_dropdown  .nav-link{
    display: flex;
    align-items: center;
    gap:8px;
}
/* HEADER MOBILE */
@media(max-width:992px){
    header + section{
        margin-top: 63px;
    }
    .logo_brand img{
        height: 47px;
        width: 90px;
        
    }
    .poppup-mobile{
        position: fixed;
        top:0;
        height: 100vh;
        width:70vw;
        right: -100%;
        background-color: var(--main);
        padding: 16px;
        padding-top: 50px;
        z-index: 3;
        transition: .4s;
    }
    .poppup-mobile.active{
        right: 0;
    }
    .overlay{
        width: 100vw;
        left: 100vw;
        top: 0;
        height: 100vh;
        transition: .6s;
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
    }
    .overlay.active{
        left: 0;
    }
    .navbar-nav.nav-mobile .nav-item{
        color: var(--white);
    }
    .navbar-nav.nav-mobile .nav-item> span{
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .navbar-nav.nav-mobile .nav-item> span::after{
        content: "";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        
        border-top: 5px solid var(--white);
    }
    .btn-open-poppup{
        height: 30px;
    }
    .btn-open-poppup span {
        width:25px;
        height:2px ;
        display: block;
        background-color: var(--main);
    }
    .poppup-mobile .dropdown-menu{
        background-color: unset;
        border: 0;
        padding-bottom: 16px;
        padding-top: 0;
    }
    .btn-close.btn-close-poppup-mobile{
        position: absolute;
        top: 16px;
        right: 16px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(107deg) brightness(101%) contrast(103%);
        opacity: 1;
    }
}