@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    white-space: normal;
}

:root{
    --main:#9a1c21;
    --navList:#333;
    --description:#212529;
    --white:#fff;
}
html,body{
    overflow-x:hidden ;
    width: 100vw;
}
ul,ol{
    list-style-type: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}
button{
    outline: none;
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .breadcrumb{
    gap: 8px;
  }
  .breadcrumb span {
    color: var(--main);
    font-weight: 700;
  }
  .breadcrumb  li a {
    color: var(--navList);
  }
.mt-60{
    margin-top: 60px;
}
.pt-60{
    padding-top: 60px;
}
.title_h2{
    font-size: 25px;
    color: var(--main);
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: 20px;
}
.title_h2::after{
    content: "";
    width:50%;
    left:0;
    top:0;
    position: absolute;
    border:1px solid var(--main);
}
.title_h2_page_child{
    font-size:22px;
    color: var(--main);
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}
@media(max-width:992px){
    .title_h2{
        font-size:18px;
        padding-top: 0;
    }
    .title_h2::after{
        content: unset;
    }
    p{
        font-size: 14px;
    }
    
}