
.bg-introduction img {
    width: 730px;
    height: 580px;
    -o-object-fit: contain ;
       object-fit: contain ;
}
.bg-introduction {
    float: right;
    shape-outside: polygon( 100%);
    shape-margin: 20px;
}
#thu_ngo .content{
    font-size: 14px;
    text-align: justify;
}
.title_branch{
    font-size: 35px;
    font-weight: 700;
    color: var(--main);
    text-transform: uppercase;
}
.block_brand_text{
    text-align: right;
    border-right:2px solid var(--main);
    padding-right: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.block_brand_text h2{
    margin-bottom: 0;
}
.block_brand_text p{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
}
.description_brand{
    font-size: 14px;
    margin-bottom: 0;
    text-align: justify;
    color: var(--description);
}
.section_brand .col-lg-3{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.section_brand .col-lg-9{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.ly_do {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap:16px;
}
.item_lydo{
    color: var(--description);
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap:8px;
}
.item_lydo span {
    display: block;
    text-align: justify;
}
@media(max-width:992px){
    .bg-introduction img{
        width: 100%;
        height: auto;
    }
    .bg-introduction{
        float: none;
        shape-outside: none;
        margin-bottom: 24px;
    }
    #section-1 .title_h2{
        margin-bottom: 0;
        
    }
    iframe{
        height:300px
    }
    .block_brand_text{
        border: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .service_band{
        text-align: left;
        border-left: 2px solid var(--main);
        padding-left: 8px;
        margin-left: 8px;
    }
    
}